
<div ngClass="column">
  <div ngClass="icon-cook title3">
    <mat-icon>restaurant</mat-icon>
  </div>
  <div ngClass="title1 profile-name column">
    Guillaume ROUAIX
    <div ngClass="">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_border</mat-icon>
    </div>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">Réservations :</span>
  <div ngClass="title3  dispatcher-left">
    <app-validate-reservation-card (click)="validateReservation()"></app-validate-reservation-card>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">Plats planifiés :</span>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card (click)="PlanDishInfo()"></app-dish-card>
    <app-dish-card (click)="PlanDishInfo()"></app-dish-card>
    <app-add-dish-card (click)="PlanDish()"></app-add-dish-card>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">Plats créés :</span>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card (click)="createDishInfo()"></app-dish-card>
    <app-dish-card (click)="createDishInfo()"></app-dish-card>
    <app-dish-card (click)="createDishInfo()"></app-dish-card>
    <app-add-dish-card (click)="createDish()"></app-add-dish-card>
  </div>
</div>
