
.icon-cook {
  //width: 10vw;
  margin: auto;
  padding-top: 20px;
}

.icon-cook mat-icon {
  font-size: 175px;
  width: 175px;
  height: 175px;
}

.profile-name {
  text-align: center;
  //margin-top: 20px;
  margin-bottom: 30px;
}
