
<div ngClass="column">
  <!--<img ngClass="icon-profile" src="../../../assets/icons_menu_bar/profile.png"/>-->
  <div ngClass="icon-cook title3">
    <mat-icon>restaurant</mat-icon>
  </div>
  <div ngClass="title1 profile-name column">
    Guillaume ROUAIX
    <div ngClass="">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_border</mat-icon>
    </div>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">Plats planifiés :</span>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-add-dish-card (click)="PlanDish()"></app-add-dish-card>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">Plats créés :</span>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-add-dish-card (click)="createDish()"></app-add-dish-card>
  </div>
</div>
