<p ngClass="title2">Planifier un plat</p>

<div ngClass="column" ngClass="input-container">

<!-- <mat-form-field appearance="outline" ngClass="input">

</mat-form-field> -->

  <mat-label >plat</mat-label>
  <select  (change)="onChangeDish($event.target.value)">
    <option *ngFor="let item of plats"  (click)="changePlat(item)" value ={{item.id}}>{{item.title}}</option>
  </select>
  <!-- <mat-icon matSuffix>restaurant</mat-icon> -->
  <mat-label >lieu</mat-label>
  <select (change)="onChange($event.target.value)">
    <option>NDL</option>
    <option>NDC</option>
  </select>


<!--
<mat-form-field appearance="outline" ngClass="input">
  <mat-label>lieux</mat-label>
  <mat-select>
    <mat-option value="option">NDC</mat-option>
    <mat-option value="option">NDL</mat-option>
  </mat-select>
  <mat-icon matSuffix>place</mat-icon>
</mat-form-field>
-->
<mat-form-field appearance="outline" ngClass="input">
  <mat-label>date / heure</mat-label>
  <input matInput type="datetime-local" [(ngModel)]="date">
</mat-form-field>

</div>

<button  mat-flat-button mat-dialog-close color="primary" (click)="save()" ngClass="bt-enregistrer">enregistrer</button>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
