<p>plan-dish works!</p>
<mat-form-field appearance="outline">
  <mat-label>prix</mat-label>
  <input matInput>
  <mat-icon matSuffix>euro_symbol</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>lieux de rendez-vous</mat-label>
  <mat-select>
    <mat-option value="option">NDC</mat-option>
    <mat-option value="option">NDL</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
