
.bt-enregistrer {
    width: 45%;
}

.bt-return {
    width: 45%;
    float: right;
}

.input {
    max-width: 500px;
    width: 100%;
}

.input-container {
    width: 100%;
    text-align: center;
}
