.dish-card {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  margin: 5px;
}

.dish-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content:center;
  margin-top: 50px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
