
<div  class="dish-list">

  <mat-card class="dish-card" *ngFor="let item of ['', '', '', '', '', '', '']" (click)='OrderDis()'>
    <img mat-card-image src="../../../../assets/example_dishes/dishes3.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div ngClass="title4 overflow-text">Nom plat</div>
      <div ngClass="title3 overflow-text">5$</div>
    </mat-card-content>
    <!-- <mat-card-actions fxFlexAlign="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

</div>
