<p>create-dish works!</p>

<h2>Ajouter / Modifier plat</h2>
  <div ngClass="contain contain_grey">
    <div class="contain_all_image">
      <h3>Photos</h3>
      <div class="contain contain_white contain_image contain_image_couverture no-img">
        <img class="image" src="../../../assets/images/photo-camera.png">
      </div>
      <!-- <div class="contain contain_image contain_image_couverture" *ngIf="plats.cheminImage"> -->
        <!-- <img class="image_plat" src="{{ plats.cheminImage }}"> -->
      <!-- </div> -->
      <div class="contain_all_image_secondaire">
        <div class="contain contain_white contain_image contain_image_secondaire">
          <img class="image" src="../../../assets/images/photo-camera.png">
        </div>
        <div class="contain contain_white contain_image contain_image_secondaire">
          <img class="image" src="../../../assets/images/photo-camera.png">
        </div>
        <div class="contain contain_white contain_image contain_image_secondaire">
          <img class="image" src="../../../assets/images/photo-camera.png">
        </div>
        <div class="contain contain_white contain_image contain_image_secondaire">
          <img class="image" src="../../../assets/images/photo-camera.png">
        </div>
      </div>
    </div>

    <div  ngClass="contain_info2">
      <div  ngClass="contain_info">
        <div class="contain_all_spe">
          <h3>Titre</h3>
          <input type="text"  name="titre" class="input-element contain_champ" value="{{plats.name}}">
          <h3>Description</h3>
          <textarea name="description" rows="8" cols="80" class="input-element contain_champ champ_description" value="{{plats.description}}"></textarea>
          <h3>Ingrédients</h3>
          <textarea name="ingredients" rows="8" cols="80" class="input-element contain_champ champ_ingredients" value="{{plats.ingredients}}"></textarea>
        </div>
        <div class="contain_all_categorie">
          <h3>Catégories</h3>
          <div class="contain_categorie" *ngFor="let cat of categories">
            <img *ngIf="cat.isActive" ngClass="image_categorie" src="{{cat.srcUrlTrue}}" (click)="this.toggleIcon(cat)">
            <img *ngIf="!cat.isActive" ngClass="image_categorie" src="{{cat.srcUrlFalse}}" (click)="this.toggleIcon(cat)">
            <h4>{{cat.titre}}</h4>
          </div>
        </div>
      </div>
      <div class="contain_all_prix">
        <div class="contain_prix">
          <h3>Prix</h3>
          <input type="text"  class="input-element contain_champ" value="{{plats.prix}}">
        </div>
        <div class="validation">
          <button type="button" class="btn-valider" (click)="onNoClick()">Valider</button>
        </div>
      </div>
  </div>

  </div>
