
.bt-enregistrer {
    width: 45%;
}

.bt-return {
    width: 45%;
    float: right;
}

.icon-camera {
    width: 80px;
    margin-top: 25px;
}

.camera-card {
    width: 125px;
    height: 129px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
