<p ngClass="title2">Créer un plat</p>
<label for="file" ngClass="camera-card">
<div ngClass="camera-card">
  <img ngClass="icon-camera" src="../assets/photo_camera.png"/>
</div>
</label>

<input id="file" class="input-file" type="file">
<div ngClass="dispatcher-around container-cat">
  <div ngClass="categorie" *ngFor="let cat of categories" (click)="this.toggleIcon(cat)">
    <img *ngIf="cat.isActive" ngClass="icon-cat" src="{{cat.srcUrlTrue}}">
    <img *ngIf="!cat.isActive" ngClass="icon-cat" src="{{cat.srcUrlFalse}}">
    <span ngClass="label-cat" >{{cat.label}}</span>
  </div>

</div>


<mat-form-field appearance="outline" ngClass="input">
  <mat-label>prix</mat-label>
  <input matInput>
  <mat-icon matSuffix>euro_symbol</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline" ngClass="ingredients">
  <mat-label>ingrédients</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<button  mat-flat-button mat-dialog-close color="primary" ngClass="bt-enregistrer">enregistrer</button>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
