@import '../../../styles.scss';

@media (min-width: 0px) {
  .deconnexion {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .deconnexion {
    width: 400px;
  }
}


.profil-info {
  background-color: $color-primary;
  // border-bottom-left-radius: 20px;
  border-bottom-right-radius: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  height: 250px;
}


.icon-profile {
  margin: auto;
  color: white;
  font-size: 100px;
  width: 100px;
  height: 100px;
}

.profile-name {
  text-align: center;
  margin-bottom: 30px;
  font-size: 10px;
  color: white;
}

.labelOrder {
  margin: 20px;
}

.btn-deconnexion {
  padding: 0 15px;
  background-color: transparent;
  border: solid 1px white;
  color: white;

}

.deconnexion {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
