<div ngClass="column profil-info">
  <div ngClass="title3">
    <mat-icon ngClass="icon-profile">person</mat-icon>
  </div>
  <div ngClass="profile-name column">
      <span ngClass="title1">Guillaume ROUAIX</span>
      <span>guillaume.rouaix@isep.fr</span>
      <span>06 63 89 65 82</span>
  </div>

    <div ngClass="deconnexion">
      <button mat-flat-button ngClass="btn-deconnexion">Déconnexion</button>
    </div>

</div>
<div ngClass="container">
  <div ngClass="title2 labelOrder">Commandes :</div>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card (click)="openDialog()" *ngFor="let item of ['', '', '']" ></app-dish-card>
  </div>
</div>
