
@media (min-width: 0px) {
  .deconnexion {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .deconnexion {
    width: 400px;
  }
}

.icon-profile {
  margin: auto;
}

.profile-name {
  text-align: center;
  margin-bottom: 30px;
}

.mat-icon {
  font-size: 200px;
  width: 200px;
  height: 200px;
}

.btn-deconnexion {
  width: 100%;
}

.deconnexion {
  margin: auto;
  padding-top: 30px;
}
