<p>profile-page works!</p>
<div ngClass="column">
  <img ngClass="icon-profile" src="../../../assets/icons_menu_bar/profile.png"/>
  <div ngClass="title1 profile-name">Guillaume ROUAIX</div>
</div>
<div ngClass="container">
  <span ngClass="title2">Commandes :</span>
  <div ngClass="title3 container  dispatcher">
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat le plus long du monde
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat le plus long du monde
      </div>
    </div>
    <div ngClass="dish-card">
      <div ngClass="dish-price">
        17,50$
      </div>
      <img ngClass="cropped-img" src="../../../assets/example_dishes/dishes4.png"/>
      <div ngClass="dish-name">
        nom plat
      </div>
    </div>
  </div>
  <span ngClass="title2">informations :</span>
  <div ngClass="title3 container">
    email :
    <br>
    compte cuisinier :
  </div>
  <button mat-button>déconnexion</button>
</div>
