
.dish-card {
    width: 125px;
    height: 129px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.icon {
  font-size: 129px;
  width: 129px;
  height: 129px;
}
