<div ngClass="dialogue">
<img ngClass="cropped-img" src="../assets/example_dishes/dishes4.png"/>
<div ngClass="title2">
   nom plat
</div>
<div ngClass="title3 details">
   date : 01/05/2021 13h
   <br>
   prix : 5$
   <br>
   lieux : NDC
   <br>
   état : accepté 
   <br>
   description : blablabla blabla blablalba blabla blablalba
   <br>
   chef : guillaume rouaix (066390****)
</div>
<button  mat-flat-button mat-dialog-close color="warn" ngClass="bt-annuler">annuler</button>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
</div>
