<div ngClass="dialogue">
<img ngClass="cropped-img" src="../assets/example_dishes/dishes4.png"/>
<div ngClass="title2">
   {{data.dishDate.dish.title}}
</div>
<div ngClass="title3 details">
   date : {{data.dishDate.date|date:"dd/MM/yyyy HH:mm"}}
   <br>
   prix :  {{data.dishDate.dish.prix}}€
   <br>
   lieux : {{data.dishDate.location}}
   <br>
   état : {{getEtat()}}
   <br>
   description : {{data.dishDate.dish.description}}
   <br>
   chef : {{data.user.firstname}} {{data.user.name}} ({{data.user.tel}})
</div>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
<!--
<button  mat-flat-button mat-dialog-close color="warn" ngClass="bt-annuler">annuler</button>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
-->
</div>
