<div ngClass="dialogue">
  <div ngClass="icon-container column">
    <mat-icon ngClass="icon title3">person</mat-icon>
  </div>
<div ngClass="title2">
   {{data.user.firstname}} {{data.user.name}}
</div>
<div ngClass="title3 details">
   nom plat : {{data.dishDate.dish.title}}
   <br>
   date : {{data.dishDate.date |date:"dd/MM/yyyy HH:mm"}}
   <br>
   lieux : {{data.dishDate.location}}
   <br>
   prix : {{data.dishDate.dish.prix}}$
</div>

<button  mat-flat-button mat-dialog-close color="primary" ngClass="bt-enregistrer" (click)='saveDish()'>valider</button>
<button  mat-raised-button mat-dialog-close color="warn" ngClass="bt-return">refuser</button>
</div>
