
 @import '../../../../styles.scss';

.calendar-container {
  // position: absolute;
  width: 100%;
  height: 520px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: green;
  margin-top: -500px;
  z-index: 200;
  transition: 0.3s ease-out all;
}

.opened {
  margin-top: 0;
  // transition: 0.3 ease all;
}
