<div ngClass="profil-info">
  <div ngClass="dispatcher-around container-cat">
    <div ngClass="" *ngFor="let cat of categories" [ngClass]="{'categorie' : true, 'activecat': cat.isActive }" (click)="this.toggleIcon(cat)">
      <img *ngIf="cat.isActive" ngClass="icon-cat" src="{{cat.srcUrlTrue}}">
      <img *ngIf="!cat.isActive" ngClass="icon-cat" src="{{cat.srcUrlFalse}}">
      <div [ngClass]="{'label-cat' : true, 'activelabel': cat.isActive }" >{{cat.label}}</div>
    </div>
  </div>

</div>

<div ngClass="date-picker-container">
  <div ngClass="date-arrow" (click)="previousDate()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div ngClass="title2 date-label">{{getDate()}}</div>
  <div ngClass="date-arrow" (click)="nextDate()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>
