@import '../../../../styles.scss';


.icon-cat {
    width: 30px;
    height: 30px;
}

.container-cat {
  max-width: 600px;
}

.label-cat {
  font-size: 11px;
}

.date-label {
  width: 150px;
  text-align: center;
}

.container-cat {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.categorie {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

//.icon-cat {
//  width: 90px;
//  height: 90px;
//}

.label-cat {
  color: #7A7A7A;
  font-weight: bold;
  padding-top: 5px;
}

.date-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-arrow {
  width: 20px;
  height: 20px;
  background-color: $color-primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 15px;
  cursor: pointer;
}
