<div ngClass="dialogue">
<img ngClass="cropped-img" src="{{'http://127.0.0.1:8887/' + data.dish.images}}">
<div ngClass="title2">
   {{data.dish.title}}
</div>
<div ngClass="title3 details">
   <!-- date : {{data..date}}01/05/2021 13h -->
   <!-- <br> -->
   prix : {{data.dish.prix}}€
   <br>
   description : {{data.dish.description}}
   <br>
   lieu : {{data.location}}
   <br>
   chef : {{data.dish.user.firstname}} {{data.dish.user.name}}
   <!-- <input matInput (onChange)="changeComment($event)"
           type="text"
           placeholder="Commentaire"> -->
</div>

<button  mat-flat-button (click)="order()" color="primary" ngClass="bt-order">commander</button>
<button  mat-raised-button mat-dialog-close color="" ngClass="bt-return">retour</button>
</div>
