.tab-label {
  font-size: 12px;
}

.navbar {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
  background-color: white;
}

.mat-tab-active {
  border-top: solid 2px black;
}

::ng-deep .mat-ink-bar {
  bottom: 46px !important;
  height: 3px;
  border-radius: 2px;
}
