<div ngClass="dish-card" *ngIf="reservation != undefined" >
 <img ngClass="cropped-img" src="{{'http://127.0.0.1:8887/' + reservation.dishDate.dish.images}}"/>

  <div style="height: 1px;">
  </div>
  <div ngClass="dish-price overflow-text">
    {{reservation.dishDate.dish.prix}}€
  </div>
  <div ngClass="dish-name overflow-text">
    {{reservation.dishDate.dish.title}}
  </div>
  <!-- <div *ngIf="reservation.isAccepted" >Acceptée</div>
  <div *ngIf="!reservation.isAccepted">En attente</div> -->
</div>

<div ngClass="dish-card" *ngIf="plat != undefined">
  <img ngClass="cropped-img" src={{this.imagePath}}>

   <div style="height: 1px;">
   </div>
   <div ngClass="dish-price overflow-text">
     {{plat.prix}}€
   </div>
   <div ngClass="dish-name overflow-text">
     {{plat.title}}
   </div>
 </div>
